ErrorDocument 403 /page40428377.html
ErrorDocument 404 /page40428377.html

DirectoryIndex page39395857.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://ramki12-24\.ru/$1 [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteCond %{HTTP_HOST} ^www\.ramki12-24.ru [NC]
RewriteRule ^(.*)$ https://ramki12-24\.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^home$ page39395857.html [NC]
RewriteRule ^home/$ page39395857.html [NC]

RewriteRule ^pk$ page40430362.html [NC]
RewriteRule ^pk/$ page40430362.html [NC]

RewriteRule ^spasibo$ page42701760.html [NC]
RewriteRule ^spasibo/$ page42701760.html [NC]

RewriteRule ^header$ page42703166.html [NC]
RewriteRule ^header/$ page42703166.html [NC]

RewriteRule ^footer$ page42703212.html [NC]
RewriteRule ^footer/$ page42703212.html [NC]

RewriteRule ^about$ page42703283.html [NC]
RewriteRule ^about/$ page42703283.html [NC]

RewriteRule ^dostavka$ page42703359.html [NC]
RewriteRule ^dostavka/$ page42703359.html [NC]

RewriteRule ^contacts$ page42703397.html [NC]
RewriteRule ^contacts/$ page42703397.html [NC]

RewriteRule ^members/ ma_start.html [NC]


